node_modules
.cache
.env
*.log
dist
gpg
gui
build
*.deb
*.bak
Figma-app*
snap/parts
snap/prime
snap/snap
snap/stage
bun.lock
bun.lockb

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode
vscode
.idea
*.swp
*.swo
.zed

# Electron
*.asar

# Coverage & testing
coverage

# Agents
.agent
.gemini/settings.*
.agent/skills
.jules/
