[Desktop Entry]
Name=Figma Linux Test Dev Build
Comment=Unofficial desktop application for linux
Exec=/opt/figma-linux-test-dev/figma-linux-test-dev %U
Terminal=false
Type=Application
Icon=figma-linux-test
StartupWMClass=figma-linux-test
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
