[Desktop Entry]
Name=Figma Linux Test
Comment=Unofficial desktop application for linux
Exec=/opt/figma-linux-test/figma-linux-test %U
Terminal=false
Type=Application
Icon=figma-linux-test
StartupWMClass=figma-linux-test
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
